<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Movies</title>
    </head>
    <body>
        <h1>Search actor</h1>
        <br><br>
        <form action="/movies/searchActor" method="POST">
            <span><b>Name : </b><input type="text" name="name"></span>
            <span><button type="submit">Search</button></span>
        </form>
    </body>
</html>